@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}

body {
  width: 100vw;
  color: #000;
  overflow-y: hidden;
  overflow-x: hidden;
}

.swiper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0%;
  top: 0%;
}

.swiper-slide {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.swiper-slide img {
  width: 40%;
}

@media (max-width: 800px) {
  .swiper-slide img {
    width: 100%;
  }
}

.teste {
  width: 100% !important;
  height: 100% !important;
}

.gradienta {
  background: linear-gradient(115deg, #000000 0%, #249b12 55%, #000000 100%),
    linear-gradient(115deg, #0057ff 0%, #020077 100%),
    conic-gradient(from 110deg at -5% 35%, #000000 0deg, #fbff00 360deg),
    conic-gradient(
      from 220deg at 30% 30%,
      #ff0000 0deg,
      #0000ff 220deg,
      #240060 360deg
    ),
    conic-gradient(
      from 235deg at 60% 35%,
      #0089d7 0deg,
      #0000ff 180deg,
      #240060 360deg
    );
  background-blend-mode: soft-light, soft-light, overlay, screen, normal;
}

.text-gradient {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn-gradient {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}

/* background-image: linear-gradient(
  to top,
  #0c3483 0%,
  #a2b6df 100%,
  #6b8cce 100%,
  #a2b6df 100%
);
 */

/* background-color: #cddcdc;
background-image: radial-gradient(
    at 50% 100%,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ),
  linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
background-blend-mode: screen, overlay; */
